<!DOCTYPE html>
<!--
	Copyright © 2024 Maciej Matiaszowski <maciej.matiaszowski@gmail.com>

	Verbatim copying and redistribution of this entire page are permitted
	provided this notice is preserved.
-->
<html lang="de-DE">
	<head>
		<title>{{ page.title }}</title>
		<meta charset="utf-8">
		<meta name="author" content="Maciej Matiaszowski">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
		<link href="http://microformats.org/profile/hcard" rel="profile">
		<link rel="stylesheet" href="default.css" type="text/css">
	</head>
	<body>
		{{ content }}
	</body>
</html>
